{% extends 'base.html' %}

{% block content %}
    <h1>Missões</h1>
    <hr>
    
    <form action="{% url 'missoes' %}" method="post">
        {% csrf_token %}

        <div>
            <h2>Cadastrar Nova Missão</h2>
            Nome: <input name="nome" type="text">
            Descrição: <input name="descricao" type="text">
            Concluída: <input name="concluida" type="checkbox">
            Data Finalização: <input name="data_finalizacao" type="date">
            <button>Enviar</button>
        </div>
    </form>

{% endblock %}