{% extends 'base.html' %}

{% block content %}
    <h1>Missões</h1>
    <hr>
    
    <form action="{% url 'formmissoes' %}" method="post">
        {% csrf_token %}

        {{form.as_p}}
    <input type="submit" value="Salvar">
    </form>
    <hr>
    <a href="{% url 'missoes' %}">Voltar</a>
    <hr>
    <h3>Missões cadastradas</h3>
    <div>
        <table class="table">
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Concluída</th>
              <th>Descrição</th>
              <th>Data Criação</th>
              <th>Data Finalização</th>
            </tr>
            {% for m in lista_missoes %}
            <tr>
              <td>{{m.id_missao}}</e></td>
              <td>{{m.nome}}</td>
              <td>{{m.concluida}}</td>
              <td>{{m.descricao}}</td>
              <td>{{m.data_criacao}}</td>
              <td>{{m.data_finalizacao}}</td>
            </tr>
            {% endfor %}
          </table> 
    </div>
{% endblock %}