{% extends 'base.html' %}

{% block content %}
    <h1>Atitudes</h1>
    <hr>
    
    <form action="{% url 'formatitudes' %}" method="post">
        {% csrf_token %}

       {{form.as_p}}
       <input type="submit" value="Salvar">
    </form>
    <hr>
    <a href="{% url 'atitudes' %}">Voltar</a>    
    <hr>
    <h3>Atitudes cadastradas</h3>
    <div>
        <table class="table">
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Pontos</th>
              <th>Descrição</th>
              <th>Data Criação</th>
            </tr>
            {% for a in lista_atitudes %}
            <tr>
              <td>{{a.id_atitude}}</e></td>
              <td>{{a.nome}}</td>
              <td>{{a.pontos}}</td>
              <td>{{a.descricao}}</td>
              <td>{{a.data_criacao}}</td>
            </tr>
            {% endfor %}
          </table> 
    </div>

{% endblock %}