{% extends 'base.html' %}

{% block content %}
    <h1>Turmas</h1>
    <hr>
    <h2>Criar nova turma</h2>
    <form action="{% url 'formturmas' %}" method="post">
        {% csrf_token %}

        {{form.as_p}}
        <input type="submit" value="Salvar">
    </form>
    <hr>
    <a href="{% url 'turmas' %}">Voltar</a>    

    <hr>
    <h3>Turmas Criadas</h3>
    <div>
        <table class="table">
            <tr>
              <th>Código</th>
              <th>Série</th>
              <th>Período</th>
              <th>Data</th>
            </tr>
            {% for t in lista_turmas %}
            <tr>
              <td>{{t.id_turma}}</e></td>
              <td>{{t.serie}}</td>
              <td>{{t.periodo}}</td>
              <td>{{t.data_criacao}}</td>
            </tr>
            {% endfor %}
          </table> 
    </div>
{% endblock %}