{% extends 'base.html' %}

{% block content %}
    <h1>Equipes</h1>
    <hr>
    
    <form action="{% url 'formequipes' %}" method="post">
        {% csrf_token %}

       {{form.as_p}}
       <input type="submit" value="Salvar">
    </form>
    <hr>
    <a href="{% url 'equipes' %}">Voltar</a>    
    <hr>
    <h3>Equipes cadastradas</h3>
    <div>
        <table class="table">
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Líder</th>
              <th>Pontos</th>
              <th>Turma</th>
            </tr>
            {% for e in lista_equipes %}
            <tr>
              <td>{{e.id_equipe}}</e></td>
              <td>{{e.nome}}</td>
              <td>{{e.lider}}</td>
              <td>{{e.pontos}}</td>
              <td>{{e.turma.serie}}</td>
            </tr>
            {% endfor %}
          </table> 
    </div>
{% endblock %}