{% extends 'base.html' %}

{% block content %}
    <h1>Projeto Integrador 3</h1>
    <hr>
    <h3>Alunos</h3>
    <ul>
        <li>
            Flaviano
        </li>
        <li>
            Juliano
        </li>
        <li>
            Flaviano
        </li>
        <li>
            Edson
        </li>
        <li>
            Donavan
        </li>
        <li>
            Leandro
        </li>
        <li>
            André
        </li>
    </ul>
    <h3>Tema</h3>
    <p>Aplicação para aulas gamificadas.</p>
    <h3>Professor</h3>
    
    
{% endblock %}