{% extends 'base.html' %}

{% block content %}
    <h1>Turmas</h1>
    <hr>
    <input type="submit" value="Cadastrar nova turma" onclick="location.href = '{% url 'create_turma' %}'">
    <hr>
    <h2>Listar das turmas</h2>
    <div>
        <table class="table">
            <tr>
              <th>Código</th>
              <th>Série</th>
              <th>Período</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
            {% for t in dataset %}
            <tr>
              <td>{{t.id_turma}}</e></td>
              <td>{{t.serie}}</td>
              <td>{{t.periodo}}</td>
              <td>{{t.data_criacao}}</td>
              <td> 
                <a href="{% url 'detail-turma' t.id_turma %}">Detalhes</a> | 
                <a href="{% url 'update-turma' t.id_turma %}">Editar</a> | 
                <a href="{% url 'delete-turma' t.id_turma %}">Excluir</a>
              </td>
            </tr>
            {% endfor %}
          </table> 
    </div>
{% endblock %}